*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: Arial;
}

/* ----------------------------------------------------------------------------------------------- */
/* 
.nav{
    background-color: #000000;

    --img1: scale(1);
    --img2: scale(0);
}   

.nav:has( .dropdown:target ){
    --img1: scale(0);
    --img2: scale(1);

    --clip:inset(0 0 0 0);

}

.nav__container{
    width: 95%;
    margin: 0 auto;
    height: 70px;

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: "title sesion";
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

.sesionContainer{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-content: center;
}

.sesionContainer a{
        text-decoration: underline;
        color: brown;
        padding-top: .625rem    ;
}



.nav__title{
    color: #fff;
    grid-area: title;
}


.nav__menu{
    grid-area: img;
    position: relative;
    z-index: 10;

    transform: var(--img1);
}

.nav__menu--second{
    transform: var(--img2);
}

.nav__icon{
    width: 30px;
    display: block;
}

.dropdown{
    position: absolute;
    background-color: #000;
    width: 75%;
    max-width: 300px;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1em;
    z-index: 10;

    display: grid;
    align-content:center ;
    gap: 1rem;

    overflow-y: auto;


    clip-path: var(--clip, inset(0 0 100% 100%));
    transition: clip-path .5s;
}

.dropdown__icon{
    width: 1.5rem;
    height: 1.5rem;
}

.dropdown__list{
    list-style: none;
}

.dropdown__link{
    color: rgb(184, 187, 191);
    padding: 1em .7em;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    gap: .6rem;

    position: relative;
    background-color: var(--bg, transparent);
    border-radius: 6px;
}

.dropdown__list:has( :checked ){
    --rows: 1fr;
    --rotate: rotate(180deg);
    --bg: #28303B;
}

.dropdown__check{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown__arrow{
    margin-left: auto;
    transform: var(--rotate, 0);
    transition: .2s transform;
}

.dropdown__content{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
}

.dropdown__sub{
    overflow: hidden;

}

.dropdown__li{
    width: 85%;
    list-style: none;
    margin-left: auto;
}

.dropdown__anchor{
    padding: 1em 0;
    display: block;
    color: #B6BABE;
    text-decoration: none;
}
 */
/* -------------------------------------------------------------------------------------------------- */
.nav{
    width: 100%;
    height: 4.375rem;
    background-color: #000000;
    position: sticky;
    align-items: center;
}

.nav__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown{
    width: 17.5rem;
    height: 100vh;
    position: absolute;
    right: 0;
    gap: .9375rem;
    padding-top: 3.125rem;

    display: none;
    flex-direction: column;
    background-color: black;
}

.dropdown__list{
    width: 90%;
    height: 1.99rem;
    margin: 0 5%;
    padding: .3125rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2e2d2dce;
    border-radius: .25rem;
    & a{
        display: flex;
        flex-direction: row;
        gap: .9375rem;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        
        & span{
            align-items: center;
            color: #eaeaea;
        }
    }
}

.dropdown__list:hover{
    background-color: #555;
    cursor: pointer;
}

.dropdown__icon{
    color: #eaeaea;
    width: 1.5625rem;
    cursor: pointer;
}

.iconContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}


.nav__icon{
    margin: 1.25rem 1.25rem;
    width: 1.875rem;
    cursor: pointer;
}

#cerrar{
    display: none;
    z-index: 10;
}

/*        INDEX            */
.divTitulo{
    width: fit-content;
    height: fit-content;
    margin-left: 15%;
    font-family: Arial, Helvetica, sans-serif;

    align-items: center;
    text-align: center;
    color: brown;
}

.titulo{
    font-size: 35px;
    width: max-content;
}

#importaciones{
    font-size: x-small;
    text-align: justify;
    width: fit-content;
    height: fit-content;
}

.iconos-headerFooter{
    width: 1.5625rem;   
    height: 1.5625rem;
    padding: 0 .9375rem;
}

#barraOpciones{
    width: 1.5625rem;
    height: 1.5625rem;  

}

main{
    background-image: url(https://images.unsplash.com/photo-1529792083865-d23889753466?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2.8125rem;
}

.mainIndex h2{
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding-top: 1.875rem ;
}

.fotosIndex{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ecc{
    width: 20.3125rem;
    height: 20.3125rem;
    margin-top: 3.375rem;
    border-color: black;
    border-radius: 25%;
    border-style: solid;
    box-shadow: rgba(19, 18, 18, 0.822) .4375rem .4375rem;
}

.fotos-y-desc{
    width: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fotos-y-desc h2{
    margin: .625rem ;
}

.indexCatalogo{
    margin: auto;
    width: 100%;
    height: 4.0625rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 2.8125rem;
    font-size: large;
}

.boton-catalogo{
    background-color: black;
    border-color: white;
    border: 1,.3125rem;
    border-style: groove;
    border-radius: 7%;
    margin-top: .25rem;
    padding: .1875rem .25rem .25rem .25rem;
    font-size: medium;
    text-decoration: white;
    font-family: 'Times New Roman', Times, serif;
}

.boton-catalogo a{
    text-decoration: none;
    color: white;
}

.boton-catalogo a:hover{
    color: brown;
    font-size: 1.125rem;
}

.boton-catalogo:hover{
    border-color: brown;
}

.Ubicacion{
    margin: auto;
    margin-top: 1.5625rem;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(167, 0, 0, 0.886);
    padding: .3125rem;
    border-radius: 20%;
}

#nuevo-local{
    font-weight: bold;
    text-decoration: underline;
}

.Ubicacion p{
    margin: .9375rem;
}

.fotoUbi{
    width: 400px;
    height: 22rem;
    border-radius: 50%;
    border-color: black;
    border-style: double;
    box-shadow: #292929;
    box-shadow: .9375rem .9375rem ;
    justify-self: center;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2a2929;
    border-top: #2e2d2d .3125rem;
    justify-content: space-evenly;
    padding: .3125rem ;
    gap: .3125rem;
}

#ulFooter{
    margin-left: .9375rem;
}

#ulFooter li h2{
    font-size: .875rem;
}

.linkCatalogoF{
    text-decoration: underline;
    color: rgb(66, 0, 0);
    padding: 0 .3125rem;
    font-weight: 550;
}

.iconosFooter{
    width: 2.5rem;
    height: auto;
}

footer section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer section p{
    font-weight: 600;
}

.contenedor-catalogo{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 90%;
    height: fit-content;
    background-color: #be2727;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    
}

.catalogoC{
    
}


#tituloCatalogo{
    display: flex;
    flex-direction: column;
    padding: auto;
    margin:  auto;

    width: fit-content;
    height: min-content;
    font-size: 2.8125rem;
    font-style: italic;
}

.productos{
    width: 12.5rem;
    height: 13.4375rem;
    border-style: solid;
    border-color: rgba(32, 31, 31, 0.825);
    border-width: 1,.3125rem;
    margin: .9375rem;
    border-radius: 15%;
}

.productos img{
    width: 8.4375rem;
    height: 9.375rem;
}

.p1{
    grid-column: 1 / 2;
    justify-self: auto;
}

.botonCompra{
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: .125rem;
    border-color: black;
    border-right: 0;
}

.divBoton{

    width: 55%;
    height: 65%;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    margin-top: 10%;
    margin-right: .9375rem;
    border-style: solid;
    border-color: black;
    border-width: .125rem;
}

.divBoton span h2{
    margin: .1875rem .25rem;
    font-size: 1.125rem;
    font-weight: bold;
}

.divBoton span li{
    margin-left: .0625rem;
    font-size: .875rem;
}

.agregarCarrito a{
    text-decoration: none;
    color: white;
}

#verCarrito{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: .9375rem;
    height: 1.25rem;
    z-index: 15;
}

.agregarCarrito{
    width: 100%;
    background-color: black;
    color: white;

    bottom: 0;
    margin:auto;
    border-radius: 15% 15% 0 0;
}

.agregarCarrito a:hover{
    text-decoration: underline;
    color: black;
    font-weight: bold   ;
}

.agregarCarrito:hover{
    background-color: white;
}

.divUbiSN{
    width: auto;
    margin: auto;
    justify-content: center;
}

.ubi{
    width: 17.1875rem;
    height: 17.1875rem;
    border-radius: 60%;
    border-style: solid;
    border-width: .125rem;
    border-color: black;
    margin-top: .625rem;
}

#mainSN{
    background-image: url(../assets/img/Rectangle48.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.h2SobreN{
    width: fit-content;
    height: fit-content;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 2.8125rem;

    justify-content: center;
}

.h2SobreN .h2SN{
    text-decoration: underline;
    padding-bottom: .9375rem;
}

/* .fotoSN{
    width: 28.125rem;
    height: auto
    flex-shrink: 0;
    margin: 2.8125rem 0 0 2.8125rem;
    border-style: solid;
    border-width: .125rem;
    border-color: black;
    border-radius: 0 25% 5%;
}
 */
.contenedorSN{
    width: 90%;
    height: fit-content;
    margin: 0 .3125rem .625rem .3125rem;
    margin-left: 1.5625rem;
    padding: .625rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(255, 228, 196, 0.808);
    border-radius: .5rem;
}

.localSN{
    margin: 0 .7813rem;
    padding: .4375rem;

    display: grid;
    grid-template-columns: 1;
    justify-content: center;

    background-color: rgba(255, 228, 196, 0.808);
    border-radius: .5625rem ;

}

.localSN p{
    width: auto;
    margin: auto;
    padding: .3125rem;
    
    justify-content: center;

}

.visitanosSN{
    font-weight: bold;
    text-decoration: double;
}
/*   CARRITO   */
.modalContainer{
    width: 70%;
    margin-top: 4.8125rem;
    margin-left: 15%;
    margin-right: 15%;
    
    padding: .9375rem;

    color: #fff;
    background-color: rgb(16, 14, 14);
    
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    
    position: absolute;
    overflow: auto;
    z-index: 9;
    top: 0%;
    scrollbar-color: none;
}

.modalContainer::-webkit-scrollbar{
    display: none;
}


.modalHeader{
    width: 100%;
    height: 15%;
    padding: 0 .3125rem .3125rem .3125rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modalHeaderTitle{
    margin-left: .9375rem;
    font-size: 1.6875rem;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: .3125rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.modal-content{
    width: 80%;
    background-color: #1d242d;
    
    border-radius: .25rem;
    margin-bottom: .3125rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: .625rem ;
    & img{
        width: 6.25rem;
    }
}

.carritoPrecioContent{
    width: 65%;
    padding-left: 1.25rem;
    gap: .625rem;
    font-weight: 400;
    & h3{
        margin-bottom: .9375rem;
    }
}

.total-content{
    width: fit-content;
    margin: .3125rem;
    text-decoration: underline;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


/*   CONTACTANOS   */
.mainContactanos{
    height: 85vh;
    display: flex;
    flex-direction: column;

    background-color: bisque;
}

.pContactanos{
    margin: 1.5625rem auto 1.5625rem auto;

    justify-content: center;
    align-items: center;
    font-size: 1.5625rem;
    text-decoration: underline;
    font-weight: bold;
}

.infContacto{
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
}

.infContacto p{
    padding: 0 0 .3125rem 2.1875rem ;
    margin: .625rem;

    text-decoration: underline;
    font-weight: 600;
}

.fotosContactanos{
    width: 4.6875rem;
    height: 4.6875rem;
}

#divContactanos{
    display: flex;
    flex-direction: row;
    gap: .9375rem;
}

.divContactanos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infContacto img{
    margin: .4688rem;
}

.divComentario{
    width: 20%;
    height: 3.75rem;
    padding: .9375rem;
    
}

/* Pagina 404 */

#main404{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;

    justify-content: center;
    align-items: center;

    background-image: none;
}

.img404{
    width: 80vw;
    height: 60vh;

    margin-top: 2.8125rem;
}

.contenedor404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton404{
    width: 9.375rem;
    height: 2.5rem;

    margin: auto;
    text-decoration: none;
    background-color: brown;
    color: white;
    border-radius: 15%;
}

#a404{
    text-decoration: none underline;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

/* INICIO DE SESION */

.containerIS{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(153, 20, 33, 0.8),rgba(0, 0, 0, 0.8)), url(../assets/img/scott-blake-x-ghf9LjrVg-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 90%;
    max-width: 28.125rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 3.125rem 3.75rem 4.375rem;
    text-align: center;

}

.form-box h1{
    font-size: 1.875rem;
    margin-bottom: 3.75rem;
    color: #cf0b0b;
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 1.875rem;
    height: .25rem;
    border-radius: .1875rem;
    background: #cf0b0b;
    position: absolute;
    bottom: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background-color: #eaeaea;
    margin: .9375rem 0 ;
    border-radius: .1875rem;
    display: flex;
    align-items: center;
    max-height: 3.75rem;
    transition: max-height 0.5s;
    overflow: hidden;

}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 1.125rem .9375rem;
}

.input-field i{
    margin-left: .9375rem;
    color: #999;
}

form p{
    text-align: left;
    font-size: .8125rem;
}
form p a{
    text-decoration: underline;
    color: #951111;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.75rem;

}

.btn-field button{
    flex-basis: 48%;
    background: #a50000;
    color: #fff;
    height: 2.5rem;
    border-radius: 1.25rem;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group{
    height: 17.5rem;
}

.btn-field button.disable{
    background: #eaeaea;
    color: #555;
}

.btn-ingresar button{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1.7rem;

    justify-content: center;
    align-items: center;
    margin: .625rem auto;
}

.btn-go button{
    flex-basis: 48%;
    background: #a50000;
    color: #eaeaea;
    height: 1.25rem;
    width: max-content;
    border-radius: .1875rem;
    padding: .1875rem .3125rem;
    border: .0313rem solid black;
    outline: 0;
    cursor: pointer;
    margin-top: .625rem;
}
.removed{
    display: none;
}
/* MEDIA QUERYS DE 1105PX Y 719PX (MAX)  -----------------------------------------------------------------------------------------------*/

@media (max-width:1105px){
    .fotosIndex{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 2.8125rem;
        justify-content: center;
        margin: auto;
        
    }
    .Economia{
    grid-row: 2;
    grid-column: 1 / span 2;
    justify-content: center;
    }
    .contenedorSN{
        display: grid;
        grid-template-columns: 100%;
    }
    .fotoSN{
        margin: 3.125rem 0 0 0;
    }
    .h2SobreN{
        grid-area: 1;
    }
    .h2SobreN h2{
        padding-left: 1.5625rem;
        font-size: 1.875rem;
    }
    .h2SobreN p{
        flex-wrap: wrap;
        padding-right: .3125rem;
    }
    .divBoton span h2{
        font-size: 1rem;
    }
    
    .divBoton span li{
        margin-left: .0625rem;
        font-size: .8125rem;
    }
}

@media (max-width:1035px){
    .contenedor-catalogo{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        width: 80%;
        height: fit-content;
        background-color: #be27279d;
        margin: auto;
        justify-content: space-evenly;
    }
    .botonCompra{
        border-right: solid #000000;
    }
    .catalogoC{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    
}

@media (max-width:719px){
    #divPubli{
        width: 100%;
    }
    #msgPubli{
        width: fit-content;
        height: auto;
        margin: auto;
        font-size: 1.375rem;
    }
    .fotosIndex{
        display: grid;
        grid-template-rows: auto auto;
        justify-content: center;
        align-items: center;
    }
    
    .Calidad{
        grid-row: 1;
    }
    .Confianza{
        grid-row: 2;
    }
    .Economia{
        grid-row: 3;
    }
    .ecc{
        width: 14.0625rem;
        height: 14.0625rem;
    }
    .indexCatalogo p{
        padding-left: .625rem;
        padding-top: .25rem;
        font-size: .9375rem;
    }
    .boton-catalogo{
        padding-bottom: .1875rem;
    }

    #nuevo-local{
        font-size: .9375rem;
        text-decoration: underline;
    }
    .Ubicacion p{
        font-size: .8125rem;
        font-weight: 300;
        padding: 0 .0625rem;
    }
    .Ubicacion{
        width: 100%;
    }
    #divubi{
        width: 100%;
        margin-left: auto;
        display: flex;
        justify-content: center;
        padding-bottom: .625rem;
    }
    .fotoUbi{
        width: 75%;
        height: auto;
        margin: auto;
        box-shadow: .4375rem .4375rem;
    }

    footer{
        display: grid;
        grid-template-rows: auto auto auto auto;
        justify-content: center;
    }
    #divLogo{
        display: flex;
        justify-content: center;
    }
    .logoVitalFooter{
        width: 3.75rem;
        justify-content: center;
    }
    footer div{
        display: flex;
        justify-content: center;
    }
    footer div ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3125rem;
    margin: .375rem 0;
    }
    .liFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
    }
    #lapazFooter{
        width: fit-content;
        
    }
    .h2Footer{
        width: fit-content;
        height: fit-content;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
    .opcionesTC{
        display: grid;
        grid-template-columns: auto;
        padding: .25rem;
    }
    .divCondiciones{
        gap: .1875rem;
        font-size: small;
    }
    #totalTC p{
        font-size: .8125rem;
    }

    #divContactanos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .divComentario{
        width: 8.75rem;
    }
    .divComentario button{
        width: 7.5rem;
    }

}

@media (max-width:494px){
    .botonCompra{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .divBoton{
        margin: auto;
    }
    .divBoton span li{
        margin-bottom: .1875rem;
    }
}

@media (max-width:450px){
    .contenedorSN{
        padding: 0;
    }
    .h2SobreN{
        padding: .3125rem;
    }
    .checkTC{
        display: grid;
        grid-template-columns: auto;
    }
    .ubi{
        width: 10.9375rem;
        height: 10.9375rem;
    }
}
