.nav{
    background-color: #000000;
    --img1: scale(1);
    --img2: scale(0);

    &:has( .dropdown:target ){
        --img1: scale(0);
        --img2: scale(1);
        --clip:inset(0 0 0 0);
    }
        .nav__container{
            width: 90%;
            margin: 0 auto;
            height: 70px;
        
            display: grid;
            grid-template-columns: max-content max-content;
            grid-template-areas: "title img";
            justify-content: space-between;
            align-items: center;
        
            overflow: hidden;
            
            .divTitulo{
                width: fit-content;
                height: fit-content;
                margin-left: 15%;
                font-family: Arial, Helvetica, sans-serif;
            
                align-items: center;
                text-align: center;
                color: brown;
            
                .titulo{
                    font-size: 35px;
                    width: max-content;
                }
                
                #importaciones{
                    font-size: x-small;
                    text-align: justify;
                    width: fit-content;
                    height: fit-content;
                }
            }
            .nav__menu{
                grid-area: img;
                position: relative;
                z-index: 10;
            
                transform: var(--img1);
                
                .nav__icon{
                    width: 30px;
                    display: block;
                }
                .nav__menu--second{
                    transform: var(--img2);
                }
                .dropdown{
                    position: absolute;
                    background-color: #000;
                    width: 75%;
                    max-width: 300px;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    padding: 1em;
                
                    display: grid;
                    align-content:center ;
                    gap: 1rem;
                
                    overflow-y: auto;
                
                
                    clip-path: var(--clip, inset(0 0 100% 100%));
                    transition: clip-path .5s;
                }
                    .dropdown__list{
                        list-style: none;
                        &:has( :checked ){
                            --rows: 1fr;
                            --rotate: rotate(180deg);
                            --bg: #28303B;
                        }
                        .dropdown__link{
                            color: rgb(184, 187, 191);
                            padding: 1em .7em;
                            text-decoration: none;
                            
                            display: flex;
                            align-items: center;
                            gap: .6rem;
                        
                            position: relative;
                            background-color: var(--bg, transparent);
                            border-radius: 6px;
                        
                            .dropdown__icon{
                                width: 1.5rem;
                                height: 1.5rem;
                            }

                        }
                    }
                }
        }
    }
