
/* index.html */

.fotosIndex{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    flex-wrap: wrap;
    .fotos-y-desc{
        width: 100% ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .ecc{
            width: 20.3125rem;
            height: 20.3125rem;
            margin-top: 3.375rem;
            border-color: black;
            border-radius: 25%;
            border-style: solid;
            box-shadow: rgba(19, 18, 18, 0.822) .4375rem .4375rem;
        }
    }
    .fotos-y-desc h2{
        margin: .625rem ;
    }
}
.mainIndex h2{
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding-top: 2.1875rem;
}
.indexCatalogo{
    margin: auto;
    width: 100%;
    height: 4.0625rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 2.8125rem;
    font-size: large;
    .boton-catalogo{
        background-color: black;
        border-color: white;
        border: 1,.3125rem;
        border-style: groove;
        border-radius: 7%;
        margin-top: .25rem;
        padding: .1875rem .25rem .25rem .25rem;
        font-size: medium;
        text-decoration: white;
        font-family: 'Times New Roman', Times, serif;
        &:hover{
            border-color: brown;
        }
        a{
            text-decoration: none;
            color: white;
            &:hover{
                color: brown;
                font-size: 1.125rem;
                
            }
        }
    }
}
.Ubicacion{
    margin: auto;
    margin-top: 1.5625rem;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(167, 0, 0);
    padding: .3125rem;
    border-radius: 20%;
    #nuevo-local{
        font-weight: bold;
    }
    
    & p{
        margin: .9375rem;
    }
    #divubi{
    .fotoUbi{
        width: 400px;
        height: 22rem;
        border-radius: 50%;
        border-color: black;
        border-style: double;
        box-shadow: #292929;
        box-shadow: .9375rem .9375rem ;
        justify-self: center;
    }
}
}

/* catalogo.html */

.contenedor-catalogo{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 80%;
    height: fit-content;
    background-color: #be27279d;
    margin: auto;
    justify-content: space-evenly;
    .catalogoC{
        width: auto;
        height: auto;       
        justify-content: center;
        margin: auto;
        padding-left: 85%;
        #tituloCatalogo{
            width: fit-content;
            height: min-content;
            font-size: 2.8125rem;
            font-style: italic;
        }
    }
    .botonCompra{
        display: flex;
        flex-direction: row;
        border-style: solid;
        border-width: .125rem;
        border-color: black;
        border-right: 0;
        .productos{
            width: 12.5rem;
            height: 13.4375rem;
            border-style: solid;
            border-color: rgba(32, 31, 31, 0.825);
            border-width: 1,.3125rem;
            margin: .9375rem;
            border-radius: 15%;
        }
        .divBoton{
            width: fit-content;
            height: fit-content;
            justify-content: center;
            align-items: center;
            background-color: bisque;
            margin-top: 10%;
            margin-right: .9375rem;
            border-style: solid;
            border-color: black;
            border-width: .125rem;
        }
        
        
        .agregarCarrito{
            width: 100%;
            background-color: black;
            color: white;
            justify-content: center;
            margin:auto;
            border-radius: 15% 15% 0 0;
            a{
                text-decoration: none;
                color: white;
                &:hover{
                    text-decoration: underline;
                    color: black;
                    font-weight: bold   ;
                }
            }
            .agregarCarrito:hover{
                background-color: white;
            }
        }
        
    }
    .p1{
        grid-column: 1 / 2;
        justify-self: auto;
    }
}

/* nosotros.html */


#mainSN{
    background-image: url(../assets/img/Rectangle48.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    .contenedorSN{
        width: 90%;
        height: fit-content;
        margin: 0 .3125rem .625rem .3125rem;
        margin-left: 1.5625rem;
        padding: .625rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        background-color: rgba(255, 228, 196, 0.808);
        border-radius: .5rem;
        .h2SobreN{
            width: fit-content;
            height: fit-content;
            display: flex;
            position: relative;
            flex-direction: column;
            margin-left: 2.8125rem;
            
            justify-content: center;
            .h2SN{
                text-decoration: underline;
                padding-bottom: .9375rem;
            }
        }
        .localSN{
            margin: 0 .7813rem;
            padding: .4375rem;
        
            display: grid;
            grid-template-columns: 1;
            justify-content: center;
        
            background-color: rgba(255, 228, 196, 0.808);
            border-radius: .5625rem ;
            
            .visitanosSN{
                font-weight: bold;
                text-decoration: double;
                p{
                    width: auto;
                    margin: auto;
                    padding: .3125rem;
                    
                    justify-content: center;
                }
            }
            .divUbiSN{
                width: auto;
                margin: auto;
                justify-content: center;
                .ubi{
                    width: 17.1875rem;
                    height: 17.1875rem;
                    border-radius: 60%;
                    border-style: solid;
                    border-width: .125rem;
                    border-color: black;
                    margin-top: .625rem;
                }
            }
            
        }
        
    }
}

/* tucarrito.html */

#mainTC{
    height: 85vh;
    .tuCarrito{
        width: 75%;
        height: 100%;
        margin: auto;
    
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 10% 10% 60% 10%;
        
        background-color: aliceblue;
        #tuCarrito{
            font-size: 1.5625rem;
            justify-content: center;
            text-decoration: underline;
            .pTC{
                padding: 1.25rem;
            }
        }
        .pArticulos{
            padding-left: .9375rem;
        }
        
        .articulosJS{
            width: 100%;
            height: 67%;
        }
        
        .opcionesTC{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: auto;
            height: fit-content;
            align-items: center;
            #totalTC{
                padding: .3125rem;
            }
        }
        .checkTC{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: .3125rem;
            .divCondiciones{
                align-items: center;
                display: flex;
                flex-direction: row;
                padding: .2188rem;
            }
            .botonesTC{
                align-items: center;
                padding: .3125rem;
            }
        }        
    }
}    

/* contactanos.html */

.mainContactanos{
    height: 85vh;
    display: flex;
    flex-direction: column;

    background-color: bisque;
    .pContactanos{
        margin: 1.5625rem auto 1.5625rem auto;
    
        justify-content: center;
        align-items: center;
        font-size: 1.5625rem;
        text-decoration: underline;
        font-weight: bold;
    }
    
    .infContacto{
        width: auto;
        height: auto;
    
        display: flex;
        flex-direction: column;
        background-color: white;
        align-items: center;
        justify-content: space-evenly;
        p{
            padding: 0 0 .3125rem 2.1875rem ;
            font-weight: 600;
        }
        .fotosContactanos{
            width: 4.6875rem;
            height: 4.6875rem;
        }
        img{
            margin: .4688rem;
        }
    }
    .divComentario{
        width: 20%;
        height: 3.75rem;
        padding: .9375rem;
        
    }
}


